body {
  background-image: url('/public/images/Background.jpg');
  background-size: 100% 100%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border:1px solid #000; */
  height: 100vh;
}
.newvisitorcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border:1px solid #000; */
  /* height: 100vh; */
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.center-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.border {
  border: 1px solid #434343;
}
.border-radius-10 {
  border-radius: 10px;
}
.textentry {
  color: #434343;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.newvisitorbox {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}
.subbox {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.subcontainerbox {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.subentrybox {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.heading {
  font-size: 28px;
  color: #000000;
  font-weight: bold;
}
.main-heading {
  font-size: 31px;
  color: #000000;
  font-weight: bold;
  padding: 20px;
}
.primarycolor {
  color: #347dfc;
}
.defaultcolor {
  color: #a1a1a1;
  font-size: 10px;
}
.forgotcolor {
  color: #434343;
}
.label {
  color: #101010;
  font-size: 14px;
  font-weight: 600;
}
.menu {
  color: #949494;
  padding: 10px;
  font-weight: bold;
  visibility: visible;
}
.drawer-responsive {
  visibility: hidden;
}
@media screen and (min-width: 240px) and (max-width: 1200px) {
  .drawer-responsive {
    visibility: visible;
    float: right;
  }
  .menu {
    color: #949494;
    padding: 10px;
    font-weight: bold;
    display: none;
  }
}

/* table */

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
thead {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.table td,
.table th {
  padding: 8px 15px;
  /* border: 1px solid #ddd; */
  text-align: center;
  font-size: 14px;
  border-radius: 10px;
}
.table tr {
  font-size: 14px;
  border-bottom: 1px solid #70707020;
}
.table th {
}

.table tbody tr:nth-child(even) {
  /* background-color: #d1e8f5; */
}

/*responsive*/

@media (max-width: 500px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    /* width: 100%; */
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    padding-left: 30%;
    text-align: left;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}
/* end table */
